body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

#card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    border: 1px solid #ddd;
    padding: 10px;
    background-color: white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

#card {
    max-width: 99vw;
    max-height: 99vh;
    border: 1px solid #ccc;
    object-fit: contain;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
}

.favorite-buttons {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
}

.all-cards-button {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#allCardsButton {
    font-size: 20px;
    padding: 10px 15px;
    background-color: #008CBA;
    border: none;
    color: white;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
}

#allCardsButton:hover {
    background-color: #1e7e34;
}

#flip-card, #next-card, #prev-card {
    font-size: 20px;
    padding: 10px 15px;
    background-color: violet;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

#flip-card:hover, #next-card:hover, #prev-card:hover {
    background-color: rgb(143, 41, 226);
    transform: scale(1.05);
}

#card.flipped {
    transform: rotateY(180deg);
}

/* Styles for the favorite button */
#favoriteButton {
    border: none;
    background: none;
    font-size: 36px;
    cursor: pointer;
    padding: 0;
    color: gold;
    transition: color 0.3s ease;
}

#favoriteButton.favorited {
    color: orange;
}

#reviewFavorites {
    font-size: 20px;
    padding: 10px 15px;
    background-color: #008CBA;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

#reviewFavorites:hover {
    background-color: #007bb5;
}

#front, #back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#front {
    background-color: lightblue;
}

#back {
    background-color: lightcoral;
    transform: rotateY(180deg);
}

#front img {
    max-width: 100%;
    max-height: 100%;
}
